<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.0/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="static/style/main.css" />
    <title>Chat App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>

<body>
    <div class="chat-container">
        <div class="chat-header" id="grönis">
            <h1 id="grönis">Gagga</h1>
        </div>
        <div class="chat-messages" id="messages">
        </div>
        <div class="chat-input">
            <input id="message-input" type="text" placeholder="Enter your message">
            <button id="send-button" type="submit">Send</button>
        </div>
    </div>
    <div class="chat-users">
        <h3>Currently chatting:</h3>
        <ul>
        </ul>
    </div>
    
        <script>
        var username = "{{username}}";

        function updateScroll() {
            var chatMessages = document.querySelector('.chat-messages');
            chatMessages.scrollTop = chatMessages.scrollHeight;
        }
        //Hämta alla meddelande som har skickats hitills
        var messages = {{messages | tojson | safe}};
        for (var i in messages) {
            document.getElementById("messages").innerHTML += '<div class="message"><span class="message-username">' + messages[i]["username"] + ':</span><span class ="message-sent">' + messages[i]["message"] + '<span></div>';
        }

        //console.log(messages);
        updateScroll();
    </script>
    <script src="/static/js/main.js"></script>


</body>

</html>
