<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="static/style/login.css"/>
    <meta charset="UTF-8">
    <title>Login</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  </head>
  <body>
    <div class="login-container">
      <div class="login-form">
        <div class="form-header">
          Gagga
        </div>
        <form action="/chat" method="POST">
          <div class="form-input">
            <input name="username" type="text" placeholder="Username">
          </div>
          <div class="form-submit">
            <input class="form-submit" type="submit" value="Login">
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
