<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="static/style/private.css"/>
    <meta charset="UTF-8">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.0/socket.io.js"></script>
    <title>Chat App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  </head>
  <body>
    <div class="chat-container">
      <div class="chat-header" id="grönis">
        <h1 id = "grönis">Gagga</h1>
      </div>
      <div class="chat-messages" id="messages">			
      </div>
      <div class="chat-input">
        <input id="message-input" type="text" placeholder="Enter your message">
        <button id="send-button" type="submit">Send</button>
      </div>
    </div>
    <script>
        var username = "{{username}}";
        function updateScroll()
        {
            var chatMessages = document.querySelector('.chat-messages');
            chatMessages.scrollTop = chatMessages.scrollHeight;
        }

        var messages = {{ messages|tojson|safe }};
        var chatKey = "{{chatKey}}";
        for (var i in messages)
        {
            document.getElementById("messages").innerHTML += '<div class="message"><span class="message-username">' + messages[i]["username"] + ':</span><span class ="message-sent">' + messages[i]["message"] + '<span></div>';
        }

        updateScroll();
    </script>
    <script src="/static/js/private.js"></script>
  </body>
</html>
